@import url(https://fonts.googleapis.com/css?family=Poppins:400);
@import url(https://fonts.googleapis.com/css?family=Lobster);

* {
    box-sizing: border-box;
}
title {
    font-family: Lobster;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
body {
    //--background: #000000;
    --top: #d4a37e;
    --bottom: #262626;
    --middle: #894d26;
    --hover: #936d50;
    --normal: #c99673;
    --working: #936d50;
    --player: #ffffff;
    font-family: "Poppins", "Helvetica Neue", helvetica, arial, sans-serif;
    margin: 2em;
    //background: var(--background);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

[hidden] { display: none !important; }


#modelLoading {
    margin: 14px auto;
    padding: 6px 14px;
    font-size: 22px;
    display: block;
    width: 300px;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

#modelLoading > span {
    display: inline-block !important;
    animation: pulsing-fade 1.2s ease-in-out infinite;
}

a:link:not(.img-link), a:visited:not(.img-link) {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid var(--normal);
}

input[type="file"] {
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    display: none;
}

.button {
    -webkit-appearance: none;
    display: inline-block;
    margin: 14px;
    padding: 14px 28px;
    background: 0;
    border: 0;
    font-family: inherit;
    font-size: inherit;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background: var(--normal);
    border-radius: 500px;
    width: 300px;
}

.button[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.button > .loading {
    display: none;
}

.button.working {
    background: var(--working);
    transition: background-color 0s ease-out;
    opacity: 1;
    color: black;
}

.working > .text {
    display: none;
}

.working > .loading {
    display: inline-block !important;
    animation: pulsing-fade 1.2s ease-in-out infinite;
}

.button:hover {
    transition: background-color 0.4s ease-out;
    background: var(--hover);
}

.button.player {
    background: white;
    color: var(--bottom);
    width: 180px;
    transition: opacity 0.4s ease-out;
    margin: 0;
}

.button.player:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.button.player:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.button.player:not(.active) {
    opacity: 0.5;
}
.button.player:not(.active):hover {
    opacity: 1;
}

.button.save {
    display: block;
    width: 140px;
    margin: 0 auto;
}

.box {
    border-radius: 50px;
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    //background: var(--top);
}

.top {
    padding: 30px;
    text-align: center;
}

.middle {
    position: relative;
    background: var(--middle);
    color: white;
    border-radius: 0;
    padding: 30px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    position: relative;
    overflow-x: auto;
    padding: 10px 0;
    margin: 10px;
    cursor: pointer;
    border: 4px solid transparent;
    text-align: center;
    flex-grow: 1;
}

.container:hover {
    border: 4px solid #56585D;
}

.icon {
    border-radius: 50%;
    background: white;
    pointer-events:none;
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

#playIcon > svg, #pauseIcon > svg {
    pointer-events:none;
    fill: var(--middle);
    height: 100%;
    width: 100%;
}

.container[hidden] ~ #playIcon,
.container[hidden] ~ #pauseIcon {
    display: none !important;
}

.container ~ #playIcon {
    display: block !important;
}
.container ~ #pauseIcon {
    display: none !important;
}

.container.playing:hover ~ #pauseIcon {
    display: block !important;
}
.container.playing ~ #playIcon {
    display: none !important;
}

#help h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 100px;
    text-align: center;
}

#help p {
    font-size: 30px;
    //line-height: 30px;
    padding: 10px;
    text-align: center;
    margin-bottom: 14px;
}

#loading {
    text-transform: uppercase;
}

#transcribingMessage {
    font-family: 'Playfair Display', serif;
    font-size: large;
    padding: 100px;
}
#transcribingMessage[hidden] #safariWarning {
    display: none !important;
}


#players {
    text-align: center;
    display:flex;
    justify-content: center;
}

#recordingError {
    opacity: 0.6;
}


@keyframes pulsing-fade {
    50% { opacity: 0.3; }
}

@media (max-width: 1000px) {
    body {
        margin: 0;
        background: var(--bottom);
    }
    .box {
        margin: 0;
        padding-top: 100px;
    }
    h1 {
        font-size: 1.5em;
    }
    .top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom {
        display: flex;
        flex-direction: column;
    }
    #players {
        align-items: center;
    }
    .button.player {
        border-radius: 0;
        width: 50%;
    }
    .button {
        margin: 0;
    }
    .container {
        padding: 0;
        margin: 0;
    }

}
